{% extends 'base/base.html' %}
{% load staticfiles %}
{% block nav %}
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="{% url 'proveedor:capcu'%}"><img src="{% static 'img/logo.jpg' %} " alt="" width="199" height="90" /></a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="btn-group"> 
                                    <button class="btn btn-theme" id="proveedor">Proveedores dentro del campus</button> 
                                    <button class="btn btn-theme" id="adm_prov">Proveedores</button> 
                                    <button class="btn btn-theme" id= "adm_puesto">Puesto de venta</button>
                                    <button class="btn btn-theme" id= "registro">Registro de E/S diario</button> 
                                </div>
                            </li>
                        </ul>
                    </div>
              </div>
         </div>
  </header>
{% endblock %}

{% block content %}
<br><br>
<div id="capcu" url-dentro="{% url 'proveedor:dentro' %}" url-mostrar="{% url 'proveedor:mostrar' %}" url-admp="{%url 'proveedor:adm_proveedor' %}" url-admpu="{%url 'proveedor:puestos_lista' %}" url-reg="{%url 'proveedor:historial' %}"></div>

<div class="col-md-12" id="proveedor_id">
    <h1 class="text-center">Coloque la tarjeta sobre el lector</h1>
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    var url = $("#capcu").attr("url-mostrar");
    function readProveedor() {
        $.ajax({
            url: url,
            success: function(data){
                $("#proveedor_id").html(data)
            }
        });
    }
    var inter = setInterval(readProveedor, 3000);
});
</script>

<script type="text/javascript">
    $("#proveedor").click(function(){
        var url = $("#capcu").attr("url-dentro");

        $.ajax({
            url: url,
            success: function(data){
                $("#proveedor_id").html(data);
        }
    });
});
</script>

<script type="text/javascript">
    $("#adm_prov").click(function(){
        var url = $("#capcu").attr("url-admp");

        $.ajax({
            url: url,
            success: function(data){
                $("#proveedor_id").html(data);
        }
    });
});
</script>

<script type="text/javascript">
    $("#adm_puesto").click(function(){
        var url = $("#capcu").attr("url-admpu");

        $.ajax({
            url: url,
            success: function(data){
                $("#proveedor_id").html(data);
        }
    });
});
</script>

<script type="text/javascript">
    $("#registro").click(function(){
        var url = $("#capcu").attr("url-reg");

        $.ajax({
            url: url,
            success: function(data){
                $("#proveedor_id").html(data);
        }
    });
});
</script>

{% endblock %}

{% block footer %}
{% endblock %}