{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
<br><br>
		<form method="GET">
			{% csrf_token %}
			{% if request.user.is_authenticated %}
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="id">Nombre proveedor</label>
						<input type="text" class="form-control" name="txtNombre" id="txtNombre" placeholder="Nombre del proveedor">
					</div>
						<div class="form-group col-md-3">
							<label for="fecha1">Fecha inicial</label>
							<input type="date" class="form-control" name="txtFechaInicial" id="txtFechaInicial" placeholder="">
						</div>
						<div class="form-group col-md-3">
							<label for="fecha2">Fecha final</label>
							<input type="date" class="form-control" name="txtFechaFinal" id="txtFechaFinal" placeholder="">
						</div>
					<div class="form-group col-md-3">
						<input type="submit" style="margin-top: 1.8em;" class="btn btn-info" name="btnBuscar" value="Buscar">
					</div>
				</div>
			{% endif %}
		</form><br><br>
	{% if controles %}
	<br>
		<table class="table table-hover">
					<thead id="thead-dark" class="thead-dark" style="color: white; background-color: black;">
						<tr>
							<th scope="col">Fecha + hora de entrada</th>
							<th scope="col">Fecha + hora de salida</th>
							<th scope="col"> ID Proveedor</th>
							<th scope="col">Proveedor Nombre</th>
							<th scope="col">Tiempo</th>
						</tr>
					</thead>
					<tbody>
						{% for control_tiempo in controles_tiempos %}
							<tr>
								<td>{{ control_tiempo.0.fecha_entrada }} {{ control_tiempo.0.hora_entrada }}</td>
								<td>{{ control_tiempo.0.fecha_salida }} {{ control_tiempo.0.hora_salida }}</td>
								<td>{{ control_tiempo.0.proveedor.codigo_proveedor }}</td>
								<td>{{ control_tiempo.0.proveedor.nombre_proveedor }}</td>
								<td>{{ control_tiempo.1 }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table><br><br><br>	
	{% else %}
		{% if no_controles %}
			<br><br>
			<h3 style="text-align: center;"> <p>{{ no_controles }}</p></h3>
			<h3 style="text-align: center;"><a href="{% url 'proveedor:historial' %}">Regresar</a></h3>

		{% endif %}
		{% if faltan_parametros %}
			<br><br>
			<h3 style="text-align: center;"> <p>{{ faltan_parametros }}</p></h3>
			<h3 style="text-align: center;"><a href="{% url 'proveedor:historial' %}">Regresar</a></h3>
		{% endif %}
	{% endif %}
{% endblock %}