{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extracss %}
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}




{% block content %}
<br>
	{% if proveedores %}
<div class="panel panel-default">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Nombre</th>
      <th scope="col">Categorias</th>
      <th scope="col">Puestos</th>
      <th scope="col">Hora de ingreso</th>
      <th scope="col">Tiempo dentro del campus</th>
    </tr>
  </thead>
  <tbody>
		{% for l in lista %}	
    <tr>
      <th scope="row">{{l.0.proveedor.codigo_proveedor}}</th>
      <td>{{l.0.proveedor.nombre_proveedor}}</td>
      <td>
      	{% for categoria in l.0.proveedor.categoria_proveedor.all %}
      	{{categoria.nombre_categoria}}<br>
      	{% endfor %}
      </td>
      <td>
      	{% for puesto in l.0.proveedor.puesto_proveedor.all %}
      	{{ puesto.nombre_puesto }}<br>
      	{% endfor %}
      </td>
      <td class="text-center">{{l.0.hora_entrada}}</td>
      <td class="text-center">{{l.1}}</td>
    </tr>
		{% endfor %}
	</tbody>
</table>
</div>
	{% else %}
		<h1 class="text-center">No hay proveedores dentro del campus</h1>
	{% endif %}

{% endblock %}