{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extracss %}
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block content %}

<br><br>
<div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
 {% if request.user.is_authenticated %}
<a href="{% url 'proveedor:crear_puesto' %}"><i class="fas fa-plus-circle fa-2x"></i><b style="font-size: 1.2em;"> Agregar puesto</b></a>
{%else%}
	Puestos de Venta
{%endif%}
</div>
	{% if puestos %}
				<table class="table">
					<thead id="thead-dark" class="thead-dark">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Nombre puesto</th>
							<th scope="col">Representante</th>
							<th scope="col">Ubicacion</th>
							 {% if request.user.is_authenticated%}
							<th scope="col">Acciones</th>
							{%endif%}
						</tr>
					</thead>
					<tbody>
						{% for puesto in puestos %}
							<tr>
								<td>{{ puesto.id }}</td>
								<td>{{ puesto.nombre_puesto }}</td>
								<td>{{ puesto.representante_puesto }}</td>
								<td>{{ puesto.ubicacion_puesto }}</td>
								 {% if request.user.is_authenticated%}
								<td>
									<input type="submit" style="width: 80px;" onclick="location.href = '{% url 'proveedor:editar_puesto' puesto.id %}'" class="btn btn-primary" value="Editar">
									<input type="button" class="btn btn-danger" value="Eliminar"  data-toggle="modal" data-target="#myModal{{ puesto.id }}">
									<div class="modal" id="myModal{{ puesto.id }}">
									  <div class="modal-dialog">
									    <div class="modal-content">

									      <!-- Modal Header -->
									      <div class="modal-header">
									        <h4 class="modal-title">Gestion de puestos - Universidad de El Salvador</h4>
									        <button type="button" class="close" data-dismiss="modal">&times;</button>
									      </div>

									      <!-- Modal body -->
									      <div class="modal-body">
									        <h3>¿Desea eliminar el puesto <i><b>{{ puesto.nombre_puesto }}</b></i>?</h3>
									      </div>

									      <!-- Modal footer -->
									      <div class="modal-footer">
									      	<form method="POST">
									      		{% csrf_token %}
									      		<button type="submit" name="btnEliminarPuesto{{ puesto.id }}" class="btn btn-danger">Eliminar</button>
									        	<button type="button" style="background-color: #909497; color: #fff;" name="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
									      	</form>
									      </div>

									    </div>
									  </div>
									</div>
								</td>
								 {% endif%}
							</tr>
						{% endfor %}
					</tbody>
				</table><br>	
	{% endif %}
</div>
</div>
</div>
</div>

{% endblock %}